<div id="container">
  <div id="header">
    <span id="title">Channel customization </span>
    <mat-icon (click)="onCancel()" class="material-symbols-rounded icon"
      >close
    </mat-icon>
  </div>
  <cdk-virtual-scroll-viewport id="scroll" itemSize="50">
    <form [formGroup]="editProfileForm" id="form-container">
      <div class="upload-video">
        <div
          (click)="fileInputBackground.click()"
          [style.border]="previewBackground ? 'none' : 'block'"
          class="upload-video-ouline-ouside"
        >
          <div
            [style.display]="previewBackground ? 'none' : 'flex'"
            class="upload-video-ouline-inside"
          >
            <div class="safety-zone">
              <mat-icon
                class="icon-video-upload material-symbols-rounded"
                fontIcon="upload"
              ></mat-icon>
            </div>
          </div>
          <input
            #fileInputBackground
            (change)="onFileSelectedBackGround($event)"
            accept="image/*"
            hidden
            type="file"
          />
          <img
            [src]="previewBackground"
            [style.display]="previewBackground ? 'block' : 'none'"
            alt="Preview"
            class="preview-image"
          />
        </div>
        <div class="form-container">
          <div class="form-left">
            <mat-form-field appearance="outline" style="width: 100%">
              <mat-label>Describe</mat-label>
              <textarea
                #textarea
                (input)="autoResize()"
                [value]="(user$ | async)?.describe"
                formControlName="describe"
                matInput
                maxlength="1000"
                placeholder="Input describe"
              ></textarea>
            </mat-form-field>

            <div class="input-data-item">
              <input
                #fileInputAvatar
                (change)="onFileSelectedAvatar($event)"
                accept="image/*"
                style="display: none"
                type="file"
              />
            </div>
          </div>
          <div class="form-right">
            <p>Avatar preview</p>
            <div
              (click)="fileInputAvatar.click()"
              [style.border]="previewAvatar ? 'none' : 'block'"
              class="avatar-preview"
            >
              <img
                [src]="previewAvatar"
                [style.display]="previewAvatar ? 'block' : 'none'"
                alt="Preview"
                class="preview-image"
              />
            </div>
          </div>
        </div>

        <div class="button-group">
          <button
            (click)="onSave()"
            [disabled]="editProfileForm.invalid"
            mat-flat-button
          >
            Save
          </button>
          <button (click)="onCancel()" mat-stroked-button>Cancel</button>
        </div>
      </div>
    </form>
  </cdk-virtual-scroll-viewport>
</div>
