<div id="container">
  <div id="header">
    <span id="title">Profile edit instructions</span>
    <button (click)="closeDialog()" aria-label="Close dialog" mat-icon-button>
      <mat-icon class="material-symbols-rounded">close</mat-icon>
    </button>
  </div>
  <cdk-virtual-scroll-viewport id="scroll" itemSize="50">
    <form [formGroup]="editProfile" id="form-container">
      <div class="upload-video">
        <div
          #dropZone
          (click)="fileInputBackground.click()"
          (dragleave)="onDragLeave($event, 'background')"
          (dragover)="onDragOver($event, 'background')"
          (drop)="onDrop($event, 'background')"
          [style.border]="previewBackground ? 'none' : 'block'"
          class="upload-video-ouline-ouside"
        >
          <div
            [style.display]="previewBackground ? 'none' : 'flex'"
            class="upload-video-ouline-inside"
          >
            <div class="safety-zone">
              <mat-icon
                class="icon-video-upload material-symbols-rounded"
                fontIcon="upload"
              ></mat-icon>
            </div>
            <div class="slot">
              Drag and drop photo here to change your background
            </div>
            <div class="or-click-this">Or click this box to select a photo</div>
          </div>
          <input
            #fileInputBackground
            (change)="onFileSelectedBackGround($event)"
            accept="image/*"
            hidden
            type="file"
          />
          <img
            [src]="previewBackground"
            [style.display]="previewBackground ? 'block' : 'none'"
            alt="Preview"
            class="preview-image"
          />
        </div>
        <div class="form-container">
        <div class="form-left">
        <mat-form-field
          appearance="outline"
          style="width: 100%; margin-top: 10px"
        >

          <mat-label>Channel name</mat-label>
          <input
            [value]="current.username"
            matInput
            placeholder="Input channel name"
          />
          <!--      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>-->
          <!--      <mat-hint>Hint</mat-hint>-->
        </mat-form-field>

        <mat-form-field appearance="outline" style="width: 100%">
          <mat-label>Describe</mat-label>
          <textarea
            #textarea
            [value]="current.joined_date"
            matInput
            maxlength="1000"
            placeholder="Input describe"
            (input)="autoResize()"
          ></textarea>
          <!--      <mat-hint>Hint</mat-hint>-->
        </mat-form-field>

        <div class="input-data-item">
<!--          <span>Change your avatar image</span>-->
          <input
            #fileInputAvatar
            (change)="onFileSelectedAvatar($event)"
            accept="image/*"
            style="display: none"
            type="file"
          />
<!--          <button-->
<!--            (click)="fileInputAvatar.click()"-->
<!--            extended-->
<!--            mat-fab-->
<!--            style="height: 40px"-->
<!--          >-->
<!--            <mat-icon class="material-symbols-rounded">smb_share</mat-icon>-->
<!--            Upload photo-->
<!--          </button>-->
        </div>
        </div>
          <div class="form-right">
            <p>Avatar preview</p>
            <div class="avatar-preview"
                #dropZoneAvatar
                 (click)="fileInputAvatar.click()"
                 (dragleave)="onDragLeave($event, 'avatar')"
                 (dragover)="onDragOver($event, 'avatar')"
                 (drop)="onDrop($event, 'avatar')"
                 [style.border]="previewAvatar ? 'none' : 'block'">
              <p [style.display]="previewAvatar ? 'none' : 'block'">Choose to change your avatar image</p>
            <img
              [src]="previewAvatar"
              class="preview-image"
              alt="Preview"
              [style.display]="previewAvatar ? 'block' : 'none'">
            </div>
          </div>
      </div>

        <div class="button-group">
          <button color="primary" mat-flat-button>Save</button>
          <button color="warn" mat-stroked-button>Cancel</button>
        </div>
      </div>
    </form>
  </cdk-virtual-scroll-viewport>
</div>
