.tweet-container {
  width: 45%;
  display: flex;
  gap: 10px;
}

.profile-pic {
  width: 36px;
  height: 36px;
  border-radius: 50%;

  img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
  }
}

.username {
  font-weight: 500;
  font-size: 0.9rem;
  color: #1d9bf0;
  margin-right: 5px;
}

.header-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--md-sys-color-on-surface);
  word-wrap: break-word;
  overflow-wrap: break-word;
}
