<div class="tweet-container">
    <div class="tweet-header">
      <img src="https://lh3.googleusercontent.com/a/ACg8ocIsm61KhNiBGsuNcbNOqp5rQmiqCZAOV5YivFDhqV9RH6NKuw=s96-c" alt="Profile" class="profile-pic">
      <div class="header-content">
        <div class="username">no name</div>
        <div class="tweet-content-in-header">massive tidal wave is about to break on the beach are you sprinting for the hills, diving under, or accepting your fate with a surfboard and a GoPro? One thing’s for sure… standing still is NOT an option. Run, climb, or brace what’s your move? 🚨🏃‍♂️#tsunami #bigwaves #surfing #surf #beach #tidalwave #ocean</div>
      </div>
    </div>
  </div>
