<div class="container">
  <div class="background" id="bg"></div>
  <div class="overlay">
    <div class="bottom-left">
      <div class="title">Watch Later</div>
      <div class="buttons">
        <button class="play" onclick="changeImage()">Play All</button>
        <button class="shuffle" onclick="changeImage()">Shuffle</button>
      </div>
    </div>
    <button class="center-button">Options</button>
  </div>
  <div class="options-panel">
    <button>Change Background Color</button>
    <button>Change Background Image</button>
  </div>
</div>
