// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "sass:map";
@use "@angular/material" as mat;
// Plus imports for other components in your app.

mat.$theme-ignore-duplication-warnings: true; // nó đỏ không cần quan tâm, đừng xóa

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$my_palettes: (
  primary: (
    0: #000000,
    10: #0c1351,
    20: #232a66,
    25: #2f3672,
    30: #3a417e,
    35: #464d8b,
    40: #525998,
    50: #6b72b3,
    60: #858cce,
    70: #9fa6eb,
    80: #bdc2ff,
    90: #dfe0ff,
    95: #f1efff,
    98: #fbf8ff,
    99: #fffbff,
    100: #ffffff,
  ),
  secondary: (
    0: #000000,
    10: #191b28,
    20: #2e2f3e,
    25: #393a49,
    30: #454655,
    35: #505161,
    40: #5c5d6d,
    50: #757687,
    60: #8f8fa1,
    70: #aaaabc,
    80: #c5c5d8,
    90: #e2e1f4,
    95: #f1efff,
    98: #fbf8ff,
    99: #fffbff,
    100: #ffffff,
  ),
  tertiary: (
    0: #000000,
    10: #2a1424,
    20: #41283a,
    25: #4d3345,
    30: #5a3e51,
    35: #664a5d,
    40: #735669,
    50: #8d6e82,
    60: #a9879c,
    70: #c5a1b7,
    80: #e1bcd2,
    90: #ffd8ef,
    95: #ffecf5,
    98: #fff8f9,
    99: #fffbff,
    100: #ffffff,
  ),
  neutral: (
    0: #000000,
    10: #1b1b1e,
    20: #313033,
    25: #3c3b3e,
    30: #474649,
    35: #535255,
    40: #5f5e61,
    50: #78767a,
    60: #929093,
    70: #adaaae,
    80: #c8c5c9,
    90: #e5e1e5,
    95: #f3f0f3,
    98: #fcf8fc,
    99: #fffbff,
    100: #ffffff,
    4: #0d0e11,
    6: #121316,
    12: #1e2023,
    17: #292a2d,
    22: #343538,
    24: #38393c,
    87: #dad9dd,
    92: #e9e7eb,
    94: #eeedf1,
    96: #f4f3f7,
  ),
  neutral-variant: (
    0: #000000,
    10: #1b1b21,
    20: #303036,
    25: #3b3b41,
    30: #46464d,
    35: #525259,
    40: #5e5e65,
    50: #77767e,
    60: #919098,
    70: #acaab2,
    80: #c7c5ce,
    90: #e4e1ea,
    95: #f2eff8,
    98: #fbf8ff,
    99: #fffbff,
    100: #ffffff,
  ),
  error: (
    0: #000000,
    10: #410002,
    20: #690005,
    25: #7e0007,
    30: #93000a,
    35: #a80710,
    40: #ba1a1a,
    50: #de3730,
    60: #ff5449,
    70: #ff897d,
    80: #ffb4ab,
    90: #ffdad6,
    95: #ffedea,
    98: #fff8f7,
    99: #fffbff,
    100: #ffffff,
  ),
);

$_rest: (
  secondary: map.get($my_palettes, secondary),
  neutral: map.get($my_palettes, neutral),
  neutral-variant: map.get($my_palettes, neutral-variant),
  error: map.get($my_palettes, error),
);

$my_primary: map.merge(map.get($my_palettes, primary), $_rest);
$my_tertiary: map.merge(map.get($my_palettes, tertiary), $_rest);

// Define the light theme object.
$light-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: $my_primary,
      tertiary: $my_tertiary,
    ),
    typography: (
      brand-family: "Lexend, sans-serif",
      plain-family: "Lexend, sans-serif",
    ),
    density: (
      scale: 0,
    ),
  )
);

// Define the dark theme object.
$dark-theme: mat.define-theme(
  (
    color: (
      theme-type: dark,
      primary: $my_primary,
      tertiary: $my_tertiary,
    ),
    typography: (
      brand-family: "Lexend, sans-serif",
      plain-family: "Lexend, sans-serif",
    ),
    density: (
      scale: 0,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
body.light-theme {
  @include mat.all-component-themes($light-theme);
}

body.dark-theme {
  @include mat.all-component-themes($dark-theme);
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($live-session-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($live-session-theme);

.light-theme {
  --md-sys-color-primary: rgb(84 90 146);
  --md-sys-color-surface-tint: rgb(84 90 146);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(223 224 255);
  --md-sys-color-on-primary-container: rgb(60 66 121);
  --md-sys-color-secondary: rgb(92 93 114);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(225 224 249);
  --md-sys-color-on-secondary-container: rgb(68 69 89);
  --md-sys-color-tertiary: rgb(120 83 108);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(255 215 239);
  --md-sys-color-on-tertiary-container: rgb(94 60 83);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(147 0 10);
  --md-sys-color-background: rgb(251 248 255);
  --md-sys-color-on-background: rgb(27 27 33);
  --md-sys-color-surface: rgb(251 248 255);
  --md-sys-color-on-surface: rgb(0, 0, 0);
  --md-sys-color-surface-variant: rgb(227 225 236);
  --md-sys-color-on-surface-variant: rgb(70 70 79);
  --md-sys-color-outline: rgb(119 118 128);
  --md-sys-color-outline-variant: rgb(199 197 208);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(48 48 54);
  --md-sys-color-inverse-on-surface: rgb(242 239 247);
  --md-sys-color-inverse-primary: rgb(189 194 255);
  --md-sys-color-primary-fixed: rgb(223 224 255);
  --md-sys-color-on-primary-fixed: rgb(15 21 75);
  --md-sys-color-primary-fixed-dim: rgb(189 194 255);
  --md-sys-color-on-primary-fixed-variant: rgb(60 66 121);
  --md-sys-color-secondary-fixed: rgb(225 224 249);
  --md-sys-color-on-secondary-fixed: rgb(24 26 44);
  --md-sys-color-secondary-fixed-dim: rgb(196 196 221);
  --md-sys-color-on-secondary-fixed-variant: rgb(68 69 89);
  --md-sys-color-tertiary-fixed: rgb(255 215 239);
  --md-sys-color-on-tertiary-fixed: rgb(46 17 38);
  --md-sys-color-tertiary-fixed-dim: rgb(231 185 214);
  --md-sys-color-on-tertiary-fixed-variant: rgb(94 60 83);
  --md-sys-color-surface-dim: rgb(219 217 224);
  --md-sys-color-surface-bright: rgb(251 248 255);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(245 242 250);
  --md-sys-color-surface-container: rgb(239 237 244);
  --md-sys-color-surface-container-high: rgb(234 231 239);
  --md-sys-color-surface-container-highest: rgb(228 225 233);
}

.dark-theme {
  --md-sys-color-primary: rgb(189 194 255);
  --md-sys-color-surface-tint: rgb(189 194 255);
  --md-sys-color-on-primary: rgb(37 43 97);
  --md-sys-color-primary-container: rgb(60 66 121);
  --md-sys-color-on-primary-container: rgb(223 224 255);
  --md-sys-color-secondary: rgb(196 196 221);
  --md-sys-color-on-secondary: rgb(45 47 66);
  --md-sys-color-secondary-container: rgb(68 69 89);
  --md-sys-color-on-secondary-container: rgb(225 224 249);
  --md-sys-color-tertiary: rgb(231 185 214);
  --md-sys-color-on-tertiary: rgb(69 38 60);
  --md-sys-color-tertiary-container: rgb(94 60 83);
  --md-sys-color-on-tertiary-container: rgb(255 215 239);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(19 19 24);
  --md-sys-color-on-background: rgb(228 225 233);
  --md-sys-color-surface: rgb(19 19 24);
  --md-sys-color-on-surface: rgb(255, 255, 255);
  --md-sys-color-surface-variant: rgb(70 70 79);
  --md-sys-color-on-surface-variant: rgb(199 197 208);
  --md-sys-color-outline: rgb(145 144 154);
  --md-sys-color-outline-variant: rgb(70 70 79);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(228 225 233);
  --md-sys-color-inverse-on-surface: rgb(48 48 54);
  --md-sys-color-inverse-primary: rgb(84 90 146);
  --md-sys-color-primary-fixed: rgb(223 224 255);
  --md-sys-color-on-primary-fixed: rgb(15 21 75);
  --md-sys-color-primary-fixed-dim: rgb(189 194 255);
  --md-sys-color-on-primary-fixed-variant: rgb(60 66 121);
  --md-sys-color-secondary-fixed: rgb(225 224 249);
  --md-sys-color-on-secondary-fixed: rgb(24 26 44);
  --md-sys-color-secondary-fixed-dim: rgb(196 196 221);
  --md-sys-color-on-secondary-fixed-variant: rgb(68 69 89);
  --md-sys-color-tertiary-fixed: rgb(255 215 239);
  --md-sys-color-on-tertiary-fixed: rgb(46 17 38);
  --md-sys-color-tertiary-fixed-dim: rgb(231 185 214);
  --md-sys-color-on-tertiary-fixed-variant: rgb(94 60 83);
  --md-sys-color-surface-dim: rgb(19 19 24);
  --md-sys-color-surface-bright: rgb(57 57 63);
  --md-sys-color-surface-container-lowest: rgb(13 14 19);
  --md-sys-color-surface-container-low: rgb(27 27 33);
  --md-sys-color-surface-container: rgb(31 31 37);
  --md-sys-color-surface-container-high: rgb(41 41 47);
  --md-sys-color-surface-container-highest: rgb(52 52 58);
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lexend", sans-serif;
}

:root {
  --heading-font: "Lexend", sans-serif;
  --text-font: "Lexend", sans-serif;

  --font-heading: var(--heading-font);
  --font-heading-1: bold 3.125rem/3.5rem var(--font-heading);
  --font-heading-2: bold 2.75rem/3rem var(--font-heading);
  --font-heading-3: bold 2.25rem/2.5rem var(--font-heading);
  --font-heading-4: bold 1.75rem/2rem var(--font-heading);
  --font-heading-5: bold 1.5rem/1.75rem var(--font-heading);
  --font-heading-6: bold 1.25rem/1.5rem var(--font-heading);

  --font-text: var(--text-font);
  --font-text-xl: normal 1.1875rem/1.75rem var(--font-text);
  --font-text-l: normal 1.0625rem/1.75rem var(--font-text);
  --font-text-l-2: normal 1.0625rem/1.5rem var(--font-text);
  --font-text-m: normal 1rem/1.5rem var(--font-text);
  --font-text-m-2: normal 1rem/1.25rem var(--font-text);
  --font-text-s: normal 0.8125rem/1.25rem var(--font-text);
  --font-text-s-2: normal 0.8125rem/1rem var(--font-text);
  --font-text-xs: normal 0.6875rem/1rem var(--font-text);
  --font-text-xs-2: normal 0.6875rem/0.8125rem var(--font-text);

  --font-text-xl-bold: 500 1.1875rem/1.75rem var(--font-text);
  --font-text-l-bold: 500 1.0625rem/1.75rem var(--font-text);
  --font-text-l-2-bold: 500 1.0625rem/1.5rem var(--font-text);
  --font-text-m-bold: 500 1rem/1.5rem var(--font-text);
  --font-text-m-2-bold: 500 1rem/1.25rem var(--font-text);
  --font-text-s-bold: 500 0.8125rem/1.25rem var(--font-text);
  --font-text-s-2-bold: 500 0.8125rem/1rem var(--font-text);
  --font-text-xs-bold: 500 0.6875rem/1rem var(--font-text);
  --font-text-xs-2-bold: 500 0.6875rem/0.8125rem var(--font-text);
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

//.mat-mdc-form-field-subscript-wrapper {
//  display: none;
//}

#loading-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
