* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: var(--md-sys-color-on-surface);
  padding: 20px;
}

.video-card {
  display: flex;
  gap: 15px;
  margin-left: 10px;
  border-radius: 8px;
  width: 100%;
  align-items: center;

  .video-title {
    color: var(--md-sys-color-on-background);
    font-weight: bolder;
  }
}

.video-card:hover {
  background-color: var(--md-sys-color-surface-variant);
  color: var(--md-sys-color-on-background);
  border-radius: 8px;
  cursor: pointer;
}
img {
  height: 130px;
  object-fit: cover;
  border-radius: 8px;
  aspect-ratio: 16 / 9;
}

.duration {
  position: absolute;
  bottom: 8px;
  right: 8px;
  padding: 2px 4px;
  font-size: 12px;
  border-radius: 2px;
}

.video-info {
  display: flex;
  flex-direction: column;
}

.video-title {
  font-size: 15px;
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 5px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;

  p {
    color: var(--md-sys-color-on-background);
  }
}

.channel-name {
  font-size: 0.7rem;
}
.channel{
  p{
    font-size: 0.7rem;
    margin-bottom: 5px;
  }
}

.video-stats {
  font-size: 14px;
}

.channel {
  font-size: 14px;
  gap: 10px;
  color: var(--md-sys-color-on-background);
  p{
    margin: 0;
  }
}

mat-icon {
  font-size: 24px;
  color: var(--md-sys-color-on-background);
}

