<div class="video-card">
    <img
      alt="Thumbnail"
      src="https://i.ytimg.com/vi/gJgTAIKWDgM/hqdefault.jpg?sqp=-oaymwExCOADEI4CSFryq4qpAyMIARUAAIhCGAHwAQH4Af4JgALQBYoCDAgAEAEYHSAxKH8wDw==&rs=AOn4CLDjUjfxBYoCMxnOnrp5ZGxSjDmyfw"
    />
  <div class="video-info">
    <h3 class="video-title">
      SƠN TÙNG M-TP | 7 - MINUTE STAGE - ĐỪNG LÀM TRÁI TIM ANH ĐAU
    </h3>
    <div class="channel">
      <p class="channel-name">Sơn Tùng M-TP Official</p>
      <p class="video-stats">7M views</p>
      <p class="time">7 month ago</p>
    </div>
  </div>
</div>

