.container-playlist{
  padding-top: 12px;
  width: 320px;
  height: 230px;
}
.playlist-card {
  position: relative;
  width: 320px;
  height: 191.25px;
  border: 0;
}

/* Các lớp nền phía dưới */
.video-layer {
  position: absolute;
  width: 308px;
  height: 100%;
}

.layer1 {
  opacity: 50%;
  top: -12px;
  left: 12px;
  width: 308px;
  height: 179px;
  border-radius: 12px;
  background-color: var(--md-sys-color-primary-fixed-dim);
}

.layer2 {
  top: -6px;
  left: 6px;
  width: 308px;
  height: 179px;
  border-radius: 12px;
  background-color: var(--md-sys-color-on-primary-fixed-variant);
}

/* Lớp ảnh chính */
.layer3 {
  z-index: 3;
  border-radius: 12px;
  position: relative;
  cursor: pointer;
  height: 180px;
  width: 308px;

  img {
    border-radius: 12px;
    object-fit: cover;
    height: 180px;
    width: 308px;
  }
}

/* Lớp phủ làm mờ khi hover */
.layer3::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 308px;
  height: 180px;
  background: rgba(0, 0, 0, 0); /* Ban đầu trong suốt */
  border-radius: 12px;
  transition: background 0.3s ease-in-out;
  z-index: 4;
}

/* Chữ "Play all" */
.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 5; /* Đặt chữ lên trên cùng */
}

/* Khi hover, thêm lớp mờ và hiển thị chữ */
.layer3:hover::after {
  background: rgba(0, 0, 0, 0.5);
}

.layer3:hover .overlay {
  opacity: 1;
}

.mat-mdc-card-content {
  padding: 0;
}

.content-container {
  color: var(--md-sys-color-on-background);
  margin-top: 10px;

  .title-playlist-card {
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0;
  }

  .end-playlist-card {
    font-size: 0.8rem;
    margin: 0;
    color: var(--md-sys-color-on-background);
    cursor: pointer;

    &:hover {
      filter: brightness(0.8);
    }
  }
}

.visibility {
  visibility: hidden;
}
