<div class="container-playlist" [routerLink]="['/watch']"
     [queryParams]="{ v: playlist.video_id, list: playlist.id, index: 0 }">
  <mat-card appearance="outlined" class="playlist-card">
    <div class="video-layer layer1">
      <img
        alt="Thumbnail"
        class="thumbnail visibility"
        mat-card-image

       src=""/>
      <div class="overlay visibility">
        <mat-icon class="material-symbols-rounded">play_arrow</mat-icon>
        Play all
      </div>
    </div>
    <div class="video-layer layer2">
      <img
        alt="Thumbnail"
        class="thumbnail visibility"
        mat-card-image

       src=""/>
      <div class="overlay visibility">
        <mat-icon class="material-symbols-rounded">play_arrow</mat-icon>
        Play all
      </div>
    </div>
    <div class="video-layer layer3">
      <img
        alt="Thumbnail"
        class="thumbnail"
        mat-card-image
        [src]="playlist.thumbnail_url"
      />
      <div class="overlay">
        <mat-icon class="material-symbols-rounded">play_arrow</mat-icon>
        Play all
      </div>
    </div>
    <mat-card-content>
      <div class="content-container">
        <p class="title-playlist-card">{{playlist.title}}</p>
      </div>
    </mat-card-content>
  </mat-card>
</div>

