<div class="container-playlist">
  <mat-card appearance="outlined" class="playlist-card">
    <div class="video-layer layer1"></div>
    <div class="video-layer layer2"></div>
    <div class="video-layer layer3">
      <img
        alt="Thumbnail"
        class="thumbnail"
        mat-card-image
        [src]="playlist.thumbnail_url"
      />
      <div class="overlay">
        <mat-icon>play_arrow</mat-icon>
        Play all
      </div>
    </div>
    <mat-card-content>
      <div class="content-container">
        <p class="title-playlist-card">{{playlist.title}}</p>
      </div>
    </mat-card-content>
  </mat-card>
</div>

