#container {
  width: 100%;
  height: 100%;
  padding: 20px 10px;
  display: flex;
  //justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  color: var(--md-sys-color-on-surface);

  .header {
    width: 100%;
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--md-sys-color-primary);
  }

  .scroll {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
  color: var(--md-sys-color-on-surface);

  th {
    background-color: var(--md-sys-color-surface);
    color: var(--md-sys-color-on-surface);
    font-weight: 700;
    text-align: left;
    padding: 10px 0;
    position: sticky;
    top: -1px;
    z-index: 1000 !important;
    border-spacing: 0;
  }

  td {
    border-bottom: 1px solid var(--md-sys-color-surface);
    flex-wrap: nowrap;

    img {
      width: 150px;
      height: calc(150px * 9 / 16);
      object-fit: cover;
      border-radius: 10px;
    }
  }
}

.edit-btn:hover {
  background-color: rgba(0, 0, 255, 0.1); /* Màu nền đỏ nhạt */
  color: blue !important; /* Đổi màu icon */
  transition: 0.3s;
}

.delete-btn:hover {
  background-color: rgba(255, 0, 0, 0.1); /* Màu nền đỏ nhạt */
  color: red; /* Đổi màu icon */
  transition: 0.3s;
}

.Video {
  width: 303px !important;
  height: 171px !important;
  padding: 0;
}

//
.title {
  width: 300px;
}

.describe {
  width: 450px;
}

.date {
  //width: 100px;
  //height: 100%;
}

.description-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  max-width: 100%; /* Ensure it doesn't exceed the cell boundaries */
}

.actions {
  gap: 20px;

  button {
    width: 50px !important;
    height: 50px !important;
    background-color: var(--md-sys-color-primary);
    color: var(--md-sys-color-on-primary);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 0 !important;
  }
}

.column {
  gap: 10px;
  width: 100px !important;
}
