<div id="container">
  <app-video-card-horizontal></app-video-card-horizontal>
  <div class="content-container">
    <div class="content-header">
      <h3>Video</h3>
      <button mat-stroked-button [routerLink]="['/profile/videos']">View more</button>
    </div>
    <div class="data-container">
      <div class="data" #dataContainer>
        @for (video of videos$ | async; track $index) {
          <app-video-card-vertical [video]="video"></app-video-card-vertical>
        }
        @for (video of videos$ | async; track $index) {
          <app-video-card-vertical [video]="video"></app-video-card-vertical>
        }
        @for (video of videos$ | async; track $index) {
          <app-video-card-vertical [video]="video"></app-video-card-vertical>
        }
      </div>
      <div class="button">
        <button mat-mini-fab aria-label="Scroll to left" class="button-left" >
          <mat-icon class="material-symbols-rounded">chevron_left</mat-icon>
        </button>
        <button mat-mini-fab aria-label="Scroll to right" class="button-right" >
          <mat-icon class="material-symbols-rounded">chevron_right</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="content-container">
    <div class="content-header">
      <h3>Playlist</h3>
      <button mat-stroked-button [routerLink]="['/profile/playlists']">View more</button>
    </div>
    <div class="data-container">
      <div class="data" #dataContainer>
        <app-playlist-card></app-playlist-card>
        <app-playlist-card></app-playlist-card>
        <app-playlist-card></app-playlist-card>
        <app-playlist-card></app-playlist-card>
        <app-playlist-card></app-playlist-card>
      </div>
      <div class="button">
        <button mat-mini-fab aria-label="Scroll to left" class="button-left" >
          <mat-icon class="material-symbols-rounded">chevron_left</mat-icon>
        </button>
        <button mat-mini-fab aria-label="Scroll to right" class="button-right" >
          <mat-icon class="material-symbols-rounded">chevron_right</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="content-container">
    <div class="content-header">
      <h3>Subscribed person</h3>
    </div>
    <div class="data-container">
      <div class="data" #dataContainer>
        <div class="subscribed">
          <img src="/image/2_c8a974f56e58406eb867b6acfae04172.webp" alt="avatar" />
          <p>Username</p> //chỗ để tên
          <span>50 subscribed</span> //chỗ để số người đã subscribe
        </div>
        <div class="subscribed">
          <img src="/image/2_c8a974f56e58406eb867b6acfae04172.webp" alt="avatar" />
          <p>Username</p> //chỗ để tên
          <span>50 subscribed</span> //chỗ để số người đã subscribe
        </div>
        <div class="subscribed">
          <img src="/image/2_c8a974f56e58406eb867b6acfae04172.webp" alt="avatar" />
          <p>Username</p> //chỗ để tên
          <span>50 subscribed</span> //chỗ để số người đã subscribe
        </div>
        <div class="subscribed">
          <img src="/image/2_c8a974f56e58406eb867b6acfae04172.webp" alt="avatar" />
          <p>Username</p> //chỗ để tên
          <span>50 subscribed</span> //chỗ để số người đã subscribe
        </div>
        <div class="subscribed">
          <img src="/image/2_c8a974f56e58406eb867b6acfae04172.webp" alt="avatar" />
          <p>Username</p> //chỗ để tên
          <span>50 subscribed</span> //chỗ để số người đã subscribe
        </div>
      </div>
      <div class="button">
        <button mat-mini-fab aria-label="Scroll to left" class="button-left" >
          <mat-icon class="material-symbols-rounded">chevron_left</mat-icon>
        </button>
        <button mat-mini-fab aria-label="Scroll to right" class="button-right" >
          <mat-icon class="material-symbols-rounded">chevron_right</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="content-container">
    <div class="content-header">
      <h3>Playlist name</h3>
      <button mat-stroked-button [routerLink]="['/playlists']">View more</button>
    </div>
    <div class="data-container">
      <div class="data" #dataContainer>
        <app-playlist-card></app-playlist-card>
        <app-playlist-card></app-playlist-card>
        <app-playlist-card></app-playlist-card>
        <app-playlist-card></app-playlist-card>
        <app-playlist-card></app-playlist-card>
      </div>
      <div class="button">
        <button mat-mini-fab aria-label="Scroll to left" class="button-left" >
          <mat-icon class="material-symbols-rounded">chevron_left</mat-icon>
        </button>
        <button mat-mini-fab aria-label="Scroll to right" class="button-right" >
          <mat-icon class="material-symbols-rounded">chevron_right</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
