#container {
  width: 100%;
  min-height: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .scroll {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .content-container {
    width: 100%;
    //max-width: 1300px;
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--md-sys-color-outline);

    .content-header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 8px 25px;

      h3 {
        font-size: 24px;
        font-weight: 700;
        color: var(--md-sys-color-primary);
        margin: 0;
        padding: 0;
      }

      button {
        color: var(--md-sys-color-on-surface);
      }
    }

    .data-container {
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .button {
        z-index: 1;
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: space-between;
        pointer-events: none;

        button {
          width: 50px;
          height: 50px;
          border-radius: 100%;
          background: rgba(23, 23, 23, 0.5);
          color: white;
          pointer-events: all;
          transition: opacity 0.3s;

          [style*="opacity: 0"] {
            pointer-events: none;
          }
        }
      }

      .data {
        //position: absolute;
        width: 100%;
        max-width: 1300px;
        display: flex;
        gap: 10px;
        z-index: 0;
        padding: 0 20px;
        white-space: nowrap;
        overflow-x: hidden;
        overflow-y: hidden;
        scroll-behavior: smooth;
      }
    }
  }

  .subscribed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;

    img {
      width: 180px;
      height: 180px;
      border-radius: 100%;
      object-fit: cover;
      margin-bottom: 10px;
    }

    p {
      color: var(--md-sys-color-on-surface);
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px; /* 142.857% */
      letter-spacing: 0.1px;
    }

    span {
      color: var(--md-sys-color-on-secondary-container);
    }
  }
}

.recommend-video {
  color: var(--md-sys-color-on-surface);
  display: flex;
  max-height: 234px;
  //flex-direction: column;
  padding: 20px;
  gap: 50px;
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden; /* Ẩn phần dư */

  .title {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    padding-bottom: 20px;
  }

  .info {
    .in-info {
      display: flex;
      margin-bottom: 20px;

      .other-info {
        .username {
          font-size: 20px;
        }
      }

      img {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        object-fit: cover;
        margin-right: 10px;
      }
    }
  }

  img {
    width: 300px;
    max-height: 300px;
    object-fit: cover;
    border-radius: 12px;
  }
}

.description {
  //white-space: pre-line;
  word-wrap: break-word;
}
