<div id="container">
  @defer (when (videos$| async)?.length) {
    @if (randomVideo?.id) {
      <div
        class="recommend-video"
        [routerLink]="['/watch']"
        [queryParams]="{ v: randomVideo?.id }"
      >
        <img [src]="randomVideo?.thumbnail_url" alt="thumbnail" />
        <div class="info">
          <p class="title">{{ randomVideo?.title }}</p>
          <div class="in-info">
            <div class="other-info">
              <span class="date">{{
                randomVideo?.created_at | date: "dd/MM/yyyy"
              }}</span>
            </div>
          </div>
          <p class="description">{{ randomVideo?.description }}</p>
        </div>
      </div>
    }
  } @placeholder (minimum 500ms) {
    <div class="video-card">
      <!-- Skeleton Thumbnail -->
      <ngx-skeleton-loader
        [theme]="{
          width: '320px',
          height: '180px',
          'border-radius': '10px',
          filter: 'brightness(0.5)',
        }"
        appearance="line"
      >
      </ngx-skeleton-loader>

      <div class="video-info">
        <div class="text-info">
          <!-- Skeleton Title -->
          <ngx-skeleton-loader
            [theme]="{
              width: '800px',
              height: '30px',
              filter: 'brightness(0.5)',
            }"
            appearance="line"
          >
          </ngx-skeleton-loader>

          <!-- Skeleton Channel & Views -->
          <ngx-skeleton-loader
            [theme]="{
              width: '800px',
              height: '50px',
              filter: 'brightness(0.5)',
            }"
            appearance="line"
          >
          </ngx-skeleton-loader>

          <ngx-skeleton-loader
            [theme]="{
              width: '800px',
              height: '50px',
              filter: 'brightness(0.5)',
            }"
            appearance="line"
          >
          </ngx-skeleton-loader>
        </div>
      </div>
    </div>
  }
  <div class="content-container">
    <div class="content-header">
      <h3>Video</h3>
      <button
        [routerLink]="['/profile', userById.id, 'videos']"
        mat-stroked-button
      >
        View more
      </button>
    </div>
    <div class="data-container">
      <div #dataContainer class="data">
        @defer (when (videos$| async)?.length) {
          @for (video of videos$ | async; track $index) {
            <app-video-card-vertical [video]="video"></app-video-card-vertical>
          }
        } @placeholder (minimum 500ms) {
          @for (_ of [].constructor(4); track $index) {
            <app-video-card-vertical-skeleton></app-video-card-vertical-skeleton>
          }
        }
      </div>
      <div class="button">
        <button aria-label="Scroll to left" class="button-left" mat-mini-fab>
          <mat-icon class="material-symbols-rounded">chevron_left</mat-icon>
        </button>
        <button aria-label="Scroll to right" class="button-right" mat-mini-fab>
          <mat-icon class="material-symbols-rounded">chevron_right</mat-icon>
        </button>
      </div>
    </div>
  </div>

  @if ((playlists$ | async)?.length) {
    <div class="content-container">
      <div class="content-header">
        <h3>Playlist</h3>
        <button
          [routerLink]="['/profile', userById.id, 'playlists']"
          mat-stroked-button
        >
          View more
        </button>
      </div>
      <div class="data-container">
        <div #dataContainer class="data">
          @for (playlist of playlists$ | async; track $index) {
            <app-playlist-card [playlist]="playlist"></app-playlist-card>
          }
        </div>
        <div class="button">
          <button aria-label="Scroll to left" class="button-left" mat-mini-fab>
            <mat-icon class="material-symbols-rounded">chevron_left</mat-icon>
          </button>
          <button
            aria-label="Scroll to right"
            class="button-right"
            mat-mini-fab
          >
            <mat-icon class="material-symbols-rounded">chevron_right</mat-icon>
          </button>
        </div>
      </div>
    </div>
  }
  @for (items of playlistDetail$ | async; track items.id) {
    @if (items.videos.length > 0) {
      @if (
        (userId$ | async)?.id == (user$ | async)?.id &&
        items.title !== "Watch later"
      ) {
        <div class="content-container">
          <div class="content-header">
            <h3>{{ items.title }}</h3>
            <button mat-stroked-button [routerLink]="['/playlists', items.id]">
              View more
            </button>
          </div>
          <div class="data-container">
            <div class="data" #dataContainer>
              @for (model of items.videos; track $index) {
                <app-video-card-vertical
                  [video]="model"
                ></app-video-card-vertical>
              }
            </div>
            <div class="button">
              <button
                mat-mini-fab
                aria-label="Scroll to left"
                class="button-left"
              >
                <mat-icon class="material-symbols-rounded"
                  >chevron_left
                </mat-icon>
              </button>
              <button
                mat-mini-fab
                aria-label="Scroll to right"
                class="button-right"
              >
                <mat-icon class="material-symbols-rounded"
                  >chevron_right
                </mat-icon>
              </button>
            </div>
          </div>
        </div>
      }
    }
  }
</div>
