<div id="container">
  <!--  <app-video-card-horizontal></app-video-card-horizontal>-->
  <div class="content-container">
    <div class="content-header">
      <h3>Video</h3>
      <button mat-stroked-button [routerLink]="['/profile/videos']">View more</button>
    </div>
    <div class="data-container">
      <div class="data" #dataContainer>
        @for (video of (videos$ | async)?.slice(0, 15); track $index) {
          <app-video-card-vertical [video]="video"></app-video-card-vertical>
        } <!--max = 15 or no max: videos$ | async-->
      </div>
      <div class="button">
        <button mat-mini-fab aria-label="Scroll to left" class="button-left">
          <mat-icon class="material-symbols-rounded">chevron_left</mat-icon>
        </button>
        <button mat-mini-fab aria-label="Scroll to right" class="button-right">
          <mat-icon class="material-symbols-rounded">chevron_right</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <div class="content-container">
    <div class="content-header">
      <h3>Playlist</h3>
      <button mat-stroked-button [routerLink]="['/profile/playlists']">View more</button>
    </div>
    <div class="data-container">
      <div class="data" #dataContainer>
        @for (playlist of (playlists$ | async); track $index) {
          <app-playlist-card [playlist]="playlist"></app-playlist-card>
        }
      </div>
      <div class="button">
        <button mat-mini-fab aria-label="Scroll to left" class="button-left">
          <mat-icon class="material-symbols-rounded">chevron_left</mat-icon>
        </button>
        <button mat-mini-fab aria-label="Scroll to right" class="button-right">
          <mat-icon class="material-symbols-rounded">chevron_right</mat-icon>
        </button>
      </div>
    </div>
  </div>
  @for (items of (playlists$ | async); track items.id) {
  <div class="content-container">
    <div class="content-header">
      <h3>{{ items.title }}</h3>
      <button mat-stroked-button [routerLink]="['/playlists', items.id]">View more</button>
    </div>
    <div class="data-container">
      <div class="data" #dataContainer>
        @for (model of items.video_id; track $index) {
<!--          <app-video-card-vertical [video]="model"></app-video-card-vertical>-->
        }
      </div>
      <div class="button">
        <button mat-mini-fab aria-label="Scroll to left" class="button-left">
          <mat-icon class="material-symbols-rounded">chevron_left</mat-icon>
        </button>
        <button mat-mini-fab aria-label="Scroll to right" class="button-right">
          <mat-icon class="material-symbols-rounded">chevron_right</mat-icon>
        </button>
      </div>
    </div>
  </div>
  }
</div>
