<form>
  <div class="upload-video">
    <div id="header">
      <div class="video-upload-instructions"><h1>Video upload instructions</h1></div>
      <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <div class="upload-video-ouline-ouside">
      <div class="upload-video-ouline-inside">
        <div class="safety-zone">
          <mat-icon class="icon-video-upload" aria-hidden="false" aria-label="Example home icon"
                    fontIcon="upload"></mat-icon>
        </div>
        <div class="slot">Drag and drop videos here to upload</div>
        <div class="or-click-this">Or click this box to select a video</div>
      </div>
    </div>
    <mat-form-field appearance="outline" style="width: 100%; margin-top: 10px">
      <mat-label>Video name</mat-label>
      <input matInput placeholder="Input video name">
      <!--      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>-->
<!--      <mat-hint>Hint</mat-hint>-->
    </mat-form-field>
    <mat-form-field appearance="outline" style="width: 100%">
      <mat-label>Describe</mat-label>
      <textarea matInput placeholder="Input describe" #textarea
                (input)="autoResize()"
                maxlength="1000"
      ></textarea>
<!--      <mat-hint>Hint</mat-hint>-->
    </mat-form-field>

    <div class="input-data-item">
      <span>Thumbnail</span>
      <button mat-fab extended style="height: 40px">
        <mat-icon>smb_share</mat-icon>
        Upload photo
      </button>
    </div>

    <div class="input-data-item">
      <div class="playlist">Playlist</div>
      <mat-form-field>
        <mat-label>Select playlist</mat-label>
        <mat-select>
          <mat-option value="one">First option</mat-option>
          <mat-option value="two">Second option</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="input-data-item">
      <div class="playlist">Category</div>
      <mat-form-field>
        <mat-label>Select category</mat-label>
        <mat-select>
          <mat-option value="one">First option</mat-option>
          <mat-option value="two">Second option</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="note-upload-will">Note: upload will be canceled if this page is closed</div>
    <div class="button-parent">
      <div class="uploaded">
        90% uploaded
      </div>
      <button mat-stroked-button>Complete</button>
    </div>
    <mat-progress-bar
      class="example-margin"
      [mode]="mode"
      [value]="value"
      [bufferValue]="bufferValue">
    </mat-progress-bar>
  </div>
</form>



