/* Container chính */
.container-playlist{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* Phần chứa các lớp video */
.playlist-card {
  position: relative;
  width: 420px;
  height: 236px;
}

/* Các lớp nền phía dưới */
.video-layer {
  position: absolute;
  width: 100%;
  height: 100%;
}

.layer1 {
  opacity: 50%;
  top: -24px;
  left: 24px;
  border-radius: 36px;
  background-color: var(--md-sys-color-primary-fixed-dim);
}

.layer2 {
  top: -12px;
  left: 12px;
  border-radius: 24px;
  background-color: var(--md-sys-color-on-primary-fixed-variant);
}

/* Lớp ảnh chính */
.layer3 {
  z-index: 3;
  border-radius: 12px;
  position: relative;
  cursor: pointer;
  img{
    border-radius: 12px;
    object-fit: cover;
    width: 100%;
  }
}

/* Lớp phủ làm mờ khi hover */
.layer3::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0); /* Ban đầu trong suốt */
  border-radius: 12px;
  transition: background 0.3s ease-in-out;
  z-index: 4;
}

/* Chữ "Play all" */
.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 5; /* Đặt chữ lên trên cùng */
}

/* Khi hover, thêm lớp mờ và hiển thị chữ */
.layer3:hover::after {
  background: rgba(0, 0, 0, 0.5);
}

.layer3:hover .overlay {
  opacity: 1;
}
.mat-mdc-card-content{
  padding: 0;
}
.content-container{
  color: var(--md-sys-color-on-background);
  .title-playlist-card{
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
  }
}
