<div class="container-playlist">
  <mat-card appearance="outlined" class="playlist-card">
    <div class="video-layer layer1"></div>
    <div class="video-layer layer2"></div>
    <div class="video-layer layer3">
      <img
        src="https://i.ytimg.com/vi/bBEo3sdzf8w/hq720.jpg?sqp=-oaymwEnCNAFEJQDSFryq4qpAxkIARUAAIhCGAHYAQHiAQoIGBACGAY4AUAB&rs=AOn4CLALQroVOPDJCEScRLXzOLC0N4M5Lw"
        alt="Thumbnail"
        class="thumbnail"
        mat-card-image
      />
      <div class="overlay">
        <mat-icon>play_arrow</mat-icon>
        Play all
      </div>
    </div>
    <mat-card-content>
      <div class="content-container">
        <p class="title-playlist-card">Liked videos</p>
        <p class="mid-playlist-card">Prive
          <mat-icon class="fiber_manual_record">fiber_manual_record</mat-icon>
          Playlist
        </p>
        <p class="end-playlist-card">View full playlist</p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
