.container {
  display: flex;
  align-items: baseline;
  padding: 0 10px;
  justify-content: space-between;
  align-content: baseline;
  .menu-icon {
    cursor: pointer;
  }
}
mat-icon {
  color: var(--md-sys-color-primary);
}
.left{
  display: flex;
  align-items: center;
  gap: 30px;
  img{
    cursor: pointer;
  }
}
.right {
  display: flex;
  align-items: center;
  gap: 20px;
  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
  }
}
.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 680px;
  border-radius: 30px;
  overflow: hidden;
  border: var(--md-sys-color-outline-variant) 1px solid;
  }
.search:hover,
.search:focus-within {
  border: var(--md-sys-color-outline) 1px solid; /* Khi hover hoặc focus vào input */
}
.input-search{
  border: none;
  outline: none;
}
  .button-search {
    cursor: pointer;
  }
  .input-search{
    font-family: "Lexend", sans-serif;
    padding: 4px 20px 4px 18px;
    width: 100%;
    font-size: 1rem;
    background-color: var(--md-sys-color-surface-container-lowest);
  }
.avatar {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
}

