<div class="container">
  <div class="left">
  <mat-icon
    (click)="onMenuClick()"
    class="menu-icon material-symbols-rounded"
    fontIcon="menu"
  ></mat-icon>
    <img src="/../public/images.png" alt="logo">
  </div>
  <div class="search">
      <input matInput type="text" placeholder="Search" class="input-search">
    <div class="button-search">
      <div style="padding: 0 18px" class="icon-search">
      <mat-icon matSuffix>search</mat-icon>
      </div>
    </div>
  </div>
  <div class="right">
    <button mat-flat-button>
      <mat-icon style="color: inherit">add</mat-icon>
      Create</button>
    <mat-icon style="cursor: pointer">notifications</mat-icon>
    <img src="https://danviet.mediacdn.vn/296231569849192448/2024/6/13/son-tung-mtp-17182382517241228747767.jpg" alt="avatar">
</div>
</div>
