<div class="container">
  <div class="left">
    <mat-icon
      (click)="onMenuClick()"
      class="menu-icon material-symbols-rounded"
      fontIcon="menu"
    ></mat-icon>
    <div class="logo">
      <img
        (click)="onLogoClick()"
        [src]="
          themeService.isDarkMode
            ? '/assets/logo_stulivier_dark_theme.png'
            : '/assets/logo_stulivier_light_theme.png'
        "
        alt="logo"
      />
    </div>
  </div>
  <div class="search-container">
    <div class="search-input">
      @if (isInputFocused) {
        <mat-icon
          class="search-icon material-symbols-rounded"
          fontIcon="search"
        ></mat-icon>
      }

      <input
        (blur)="onBlur()"
        (focus)="onFocus()"
        (keydown.enter)="search()"
        [(ngModel)]="searchText"
        placeholder="Search"
        type="text"
      />
      @if (searchText) {
        <mat-icon
          class="clear-icon material-symbols-rounded"
          fontIcon="clear"
          (click)="clearSearch()"
        ></mat-icon>
      }
    </div>
    <div class="search-action">
      <mat-icon class="material-symbols-rounded" fontIcon="search"></mat-icon>
    </div>
  </div>

  <div class="right">
    <button (click)="openCreateVideoDialog()" mat-flat-button>
      <mat-icon
        class="material-symbols-rounded icon-add"
        fontIcon="add"
      ></mat-icon>
      Create
    </button>
    @if ((user$ | async)?.id) {
      <div class="avatar">
        <!--        [routerLink]="['/profile']"-->
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <img alt="avatar" src="{{ (user$ | async)?.avatar_url }}"/>
        </button>
        <mat-menu #menu="matMenu" class="custom-menu">
          <div mat-menu-item class="menu-item">
            <div class="menu-item">
              <div class="avatar">
                <img alt="avatar" src="{{ (user$ | async)?.avatar_url }}"/>
              </div>
              <div>
                <span>{{ (user$ | async)?.username }}</span>
                <br>
                <a [routerLink]="['/profile']">View your profile</a>
              </div>
            </div>
          </div>
          <button mat-menu-item [routerLink]="['/login']" (click)="signOut()">
            <mat-icon class="material-symbols-rounded">logout</mat-icon>
            <span>Logout</span>
          </button>
          <!--          <button mat-menu-item>-->
          <!--            <mat-icon>notifications_off</mat-icon>-->
          <!--            <span>Disable alerts</span>-->
          <!--          </button>-->
        </mat-menu>
      </div>
    } @else {
      <button
        mat-stroked-button
        [routerLink]="['/login']"
        (click)="signInWithGoogle()"
      >
        <mat-icon
          class="material-symbols-rounded"
          fontIcon="account_circle"
        ></mat-icon>
        Sign in
      </button>
    }
  </div>
</div>
