<div class="container">
  <div class="left">
    <mat-icon
      (click)="onMenuClick()"
      class="menu-icon material-symbols-rounded"
      fontIcon="menu"
    ></mat-icon>
    <div class="logo">
    <img alt="logo" [src]="themeService.isDarkMode ? '/assets/logo_stulivier_dark_theme.png': '/assets/logo_stulivier_light_theme.png'" />
    </div>
  </div>
  <div class="search-container">
    <div class="search-input">
      <input placeholder="Search" type="text" />

      <mat-icon
        class="clear-icon material-symbols-rounded"
        fontIcon="clear"
      ></mat-icon>
    </div>
    <div [routerLink]="['/search']" class="search-action">
      <mat-icon class="material-symbols-rounded" fontIcon="search"></mat-icon>
    </div>
  </div>

  <div class="right">
    <button (click)="openCreateVideoDialog()" mat-flat-button>
      <mat-icon
        class="material-symbols-rounded icon-add"
        fontIcon="add"
      ></mat-icon>
      Create
    </button>
    @if ((user$ | async)?.id) {
      <div [routerLink]="['/profile']" class="avatar">
        <img alt="avatar" src="{{ (user$ | async)?.avatar_url }}" />
      </div>
    } @else {
      <button
        mat-stroked-button
        [routerLink]="['/login']"
        (click)="signInWithGoogle()"
      >
        <mat-icon
          class="material-symbols-rounded"
          fontIcon="account_circle"
        ></mat-icon>
        Sign in
      </button>
    }
  </div>
</div>
