#container {
  width: 100%;
  height: 100%;
  background-color: var(--md-sys-color-surface);

  #header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;

    #title {
      font-size: 1.8rem;
      color: var(--md-sys-color-on-surface);
    }
  }

  #content-container {
    width: 100%;
    height: calc(100vh - 150px);
    padding: 0 24px;
    margin-top: 10px;

    #step2-container {
      width: 100%;
      height: calc(100vh - 220px);
      display: flex;
      justify-content: space-evenly;
      align-items: start;
      padding: 20px;

      .form-left {
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
      }

      .form-right {
        width: 40%;
        height: 100%;

        .thumbnail-container {
          width: 100%;
          height: 100%;

          .thumbnail-img {
            position: relative;
            width: 400px;
            height: calc(
              400px / 1.79
            ); /* Adjust height based on aspect ratio */
            border-radius: 12px;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 12px;
            }

            .edit-icon {
              position: absolute;
              bottom: 10px;
              right: 10px;
              color: var(--md-sys-color-on-primary);
              cursor: pointer;
            }
          }

          .thumbnail-input {
            width: 400px;
            height: calc(
              400px / 1.79
            ); /* Adjust height based on aspect ratio */
            cursor: pointer;
            border: 2px dashed var(--md-sys-color-inverse-primary);
            border-radius: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--md-sys-color-inverse-primary);

            &:hover {
              filter: brightness(var(--brightness-filter));
            }
          }
        }
      }
    }



    #footer-container {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
}

.scroll {
  width: 50%;
  height: 100%;
  overflow-y: auto;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none;
  }
}

mat-icon {
  color: var(--md-sys-color-primary);
}
