<div id="container">
  @defer (when (isCheckLogin$ | async)) {
    @if ((user$ | async)?.id) {
      <div id="header-container">
        <div id="playlist-thumbnail-background">
          <img
            [src]="(videos$ | async)?.[0]?.thumbnail_url"
            alt="playlist-thumbnail"
          />
        </div>
        <div id="playlist-info">
          <div id="playlist-thumbnail">
            <img
              [src]="(videos$ | async)?.[0]?.thumbnail_url"
              alt="playlist-thumbnail"
            />
            <div id="right-playlist-thumbnail">
              <div class="info">
                <h2 id="playlist-title">Liked video</h2>
                <div class="top">
                  <div id="user-avatar">
                    <img
                      [src]="(user$ | async)?.avatar_url"
                      alt="user-avatar"
                    />
                  </div>
                  <span id="user-name">{{ (user$ | async)?.username }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="content-container">
        <cdk-virtual-scroll-viewport id="main-content" itemSize="50">
          @defer (when (videos$ | async)) {
            <div class="content">
              @for (video of videos$ | async; track $index) {
                <app-video-card-vertical
                  [video]="video"
                ></app-video-card-vertical>
              }
            </div>
          } @placeholder (minimum 500ms) {
            <div class="content">
              @for (_ of [].constructor(8); track $index) {
                <app-video-card-vertical-skeleton></app-video-card-vertical-skeleton>
              }
            </div>
          }
        </cdk-virtual-scroll-viewport>
      </div>
    } @else {
      <div class="user-login-require">
        <mat-icon class="material-symbols-rounded icon">thumb_up</mat-icon>
        <h4>Keep track of the videos you love!</h4>
        <p>
          Sign in to view and manage your liked videos, so you never lose your
          favorite content.
        </p>

        <button
          mat-stroked-button
          [routerLink]="['/login']"
          (click)="signInWithGoogle()"
        >
          <mat-icon
            class="material-symbols-rounded"
            fontIcon="account_circle"
          ></mat-icon>
          Sign in
        </button>
      </div>
    }
  } @placeholder (minimum 500ms) {
    <div class="loading">
      <mat-spinner class="circle"></mat-spinner>
    </div>
  }
</div>
