.container {
  width: 100%;
  height: 100%;
  display: flex;

  .left {
    width: 70%;
    height: 100%;
    padding-bottom: 20px;

    .video-card {
      width: 100%;
      height: 100%;
      border-radius: 12px 0 0 12px;
      border-width: 0;
      border-color: unset;
      background-color: unset;

      .video-container {
        width: 100%;
        aspect-ratio: 16/9;
        height: auto;
        position: relative;
        border-radius: 12px 0 0 12px;
      }

      .video-container > * {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 12px 0 0 12px;
      }

      .content-container {
        width: 100%;
        height: 100%;
        margin-top: 10px;
        padding: 10px;

        .title {
          font-size: 1.2rem;
          font-weight: 500;
          margin-bottom: 20px;
          color: var(--md-sys-color-on-surface);
        }
      }
    }

    .content-header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 8px 25px;

      h3 {
        font-size: 24px;
        font-weight: 700;
        color: var(--md-sys-color-on-surface);
        margin: 0;
        padding: 0;
      }
    }

    .video-list {
      width: 100%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      padding: 10px 20px;
    }
  }

  .right {
    width: 30%;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: var(--md-sys-color-surface-container-high);

    .info {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 10px;

      .avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;

        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          object-fit: cover;
        }
      }

      .user-info {
        display: flex;
        flex-direction: column;
        gap: 5px;
        margin-right: 20px;

        .username {
          font-size: 1rem;
          font-weight: 500;
          color: var(--md-sys-color-on-surface);
        }

        .sub {
          font-size: 0.8rem;
          color: var(--md-sys-color-secondary);
        }
      }
    }

    .line {
      width: 100%;
      height: 1px;
      background-color: var(--md-sys-color-surface-variant);
      margin: 10px 0;
    }

    .content {
      width: 100%;
      height: calc(100% - 150px);
    }

    .reaction-btn {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 5px;

      .icon {
        color: var(--md-sys-color-on-surface);
        cursor: pointer;
      }
    }

    .comment-forms {
      display: flex;
      align-items: end;

      button {
        margin-left: 4px;
      }
    }

    .comment-field {
      flex: 1;
      width: 100%;
    }
  }
}

.content-container-playlist {
  width: 100%;
  max-width: 1050px;
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--md-sys-color-outline);
  //border-bottom: 1px solid var(--md-sys-color-outline);
  margin-bottom: 20px;

  .content-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 25px;

    h3 {
      font-size: 24px;
      font-weight: 700;
      color: var(--md-sys-color-primary);
      margin: 0;
      padding: 0;
    }

    button {
      color: var(--md-sys-color-on-surface);
    }
  }

  .data-container {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .button {
      z-index: 1;
      position: absolute;
      width: 100%;
      display: flex;
      justify-content: space-between;
      pointer-events: none;

      button {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        background: rgba(23, 23, 23, 0.5);
        color: white;
        pointer-events: all;
        transition: opacity 0.3s;

        [style*="opacity: 0"] {
          pointer-events: none;
        }
      }
    }

    .data {
      //position: absolute;
      width: 100%;
      max-width: 1030px;
      display: flex;
      gap: 10px;
      z-index: 0;
      padding: 0 20px;
      white-space: nowrap;
      overflow-x: hidden;
      overflow-y: hidden;
      scroll-behavior: smooth;
    }
  }
}

::ng-deep .mat-pseudo-checkbox-minimal.mat-pseudo-checkbox-checked::after {
  display: none !important;
}

::ng-deep .mat-button-toggle .mat-pseudo-checkbox {
  display: none;
}

.scroll {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none;
  }
}

.mat-mdc-card-content::ng-deep {
  padding: 0;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper,
::ng-deep .mat-mdc-form-field-bottom-align {
  display: none;
}

::ng-deep.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: transparent !important;
}

.liked {
  color: var(--md-sys-color-primary) !important;
  font-variation-settings: "FILL" 1; // Trạng thái fill
}
