<div class="container-video-card-vertical">
    <img class="image-video-card-vertical" src="{{video.video_url}}" alt="image-video-card-vertical">
  <div class="form-content">
    <img class="image-avatar" src="{{video.avatar_url}}" alt="">
    <div class="main-content">
      <div class="form-title">
        <div class="title">
          <h6>{{video.title}}</h6>
        </div>
        <mat-icon class="material-symbols-outlined">more_vert</mat-icon>
      </div>
      <div class="other-content">
        <p>{{video.username}}</p>
        <div class="under-username">
          <p>{{video.views | number}} views</p>
          <mat-icon>fiber_manual_record</mat-icon>
          <p>{{video.created_at}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
