<mat-card appearance="outlined" class="video-card">
  <div class="video-container">
    <img
      [src]="video.video_url"
      alt="Thumbnail"
      class="thumbnail"
      mat-card-image
    />
  </div>
  <mat-card-content>
    <div class="content-container">
      <div class="avatar-container">
        <img
          [src]="video.avatar_url"
          alt="Avatar"
          class="avatar"
          mat-card-image
        />
      </div>
      <div class="main-content">
        <div class="info">
          <p class="title">{{ video.title }}</p>
          <div class="in-info">
          <p class="username">{{ video.username }}</p>
            <div class="other-info">
              <p class="views">{{ video.views | number }} views</p>
              <mat-icon class="fiber_manual_record">fiber_manual_record</mat-icon>
              <p class="date">{{ video.created_at }}</p>
            </div>
          </div>
        </div>
      <div class="actions">
        <button
          [matMenuTriggerFor]="menu"
          aria-label="Example icon-button with a menu"
          mat-icon-button
        >
          <mat-icon class="material-symbols-rounded">more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon class="material-symbols-rounded">schedule</mat-icon>
            <span>Save to Watch later</span>
          </button>
          <button mat-menu-item>
            <mat-icon class="material-symbols-rounded">bookmark</mat-icon>
            <span>Save to playlist</span>
          </button>
        </mat-menu>
      </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
