<mat-card
  (click)="onVideoClick($event)"
  [ngClass]="highlight ? 'highlight' : ''"
  appearance="outlined"
  class="video-card"
>
  <div class="video-container">
    <img
      alt="thumbnail"
      class="thumbnail"
      mat-card-image
      src="{{ video.thumbnail_url }}"
    />
  </div>
  <mat-card-content>
    <div class="content-container">
      <div class="avatar-container">
        <img
          [src]="video.user_data.avatar_url"
          alt="avatar"
          class="avatar"
          mat-card-image
        />
      </div>
      <div class="main-content">
        <div class="info">
          <p class="title">{{ video.title }}</p>
          <div class="in-info">
            <span class="username">{{ video.user_data.username }}</span>
            <div class="other-info">
              <p class="views">{{ video.views | number }} views</p>
              <mat-icon class="fiber_manual_record"
                >fiber_manual_record
              </mat-icon>
              <span class="date">{{
                video.created_at | date: "dd/MM/yyyy"
              }}</span>
            </div>
          </div>
        </div>
        <div class="actions">
          <button
            (click)="openDialog($event)"
            [matMenuTriggerFor]="menu"
            mat-icon-button
          >
            <mat-icon class="material-symbols-rounded">more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button (click)="addToWatchLater()" mat-menu-item>
              <mat-icon class="material-symbols-rounded">schedule</mat-icon>
              <span>Save to Watch later</span>
            </button>
            <button (click)="openPlaylistDialog()" mat-menu-item>
              <mat-icon class="material-symbols-rounded">bookmark</mat-icon>
              <span>Save to playlist</span>
            </button>
          </mat-menu>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
