.video-card {
  width: 420px;
  cursor: pointer;
}

.video-container {
  display: inline-block;
  aspect-ratio: 16 / 9; /* Thay 16/9 bằng tỷ lệ mong muốn */
  width: 100%; /* Hoặc giá trị cụ thể */
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}

.video-player,
.thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.3s ease;
}

.content-container {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .avatar-container{
    padding-top: 5px;
  }

  .main-content {
    width: 90%;
    padding: 10px;
    display: flex;
    justify-content: space-between;

    p{
      margin: 0;
    }

    .info{
      font-size: 0.7rem;
      color: var(--md-sys-color-on-surface);
      .other-info{
        display: flex;
        align-items: center;
        gap: 5px;
        .fiber_manual_record{
          width: 0.4rem;
          height: 0.4rem;
          font-size: 0.4rem;
        }
      }
    }

    .title {
      font-size: 1rem;
      font-weight: 600;
      color: var(--md-sys-color-on-surface);
      margin-bottom: 10px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal; /* Ensure text can wrap */
    }
  }
  .avatar-container {
    .avatar{
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .actions {
    width: 10%;
    padding: 10px 0;
  }
}

vg-controls::ng-deep {
  width: fit-content;
  top: 10px;
  right: 10px;
  border-radius: 50%;
}

.mat-mdc-card-outlined::ng-deep {
  border-radius: 0;
  border-width: 0;
  border-color: unset;
  background-color: unset;
}

.mat-mdc-card-content::ng-deep {
  padding: 0;
}
