<div id="container">
  <div id="cover">
    <div class="cover-background">
      <div class="background-img">
        <input
          #coverInput
          (change)="onCoverSelected($event)"
          accept="image/*"
          style="display: none"
          type="file"
        />
        @if (coverImage) {
          <img
            [src]="coverImage"
            alt="Selected Image"
            class="background-img-preview"
          />
        }
      </div>
      <div (click)="triggerCoverInput()" class="background-linear">
        <div class="background-text">
          <span class="title"> History </span>
          <div class="actions"></div>
        </div>
      </div>
    </div>
  </div>
  <div id="content-container">
    <cdk-virtual-scroll-viewport id="main-content" itemSize="50">
      @defer (when (videos$ | async)?.length) {
        <div class="video-list">
          @for (video of videos$ | async; track $index) {
            <div class="history-group">
              <h3 class="watch-date">
                {{ video.watched_at }}
              </h3>

              <div class="video-items">
                @for (videoDetail of video.videos; track $index) {
                  <app-video-card-vertical
                    [video]="videoDetail.video_details"
                  ></app-video-card-vertical>
                }
              </div>
            </div>
          }
        </div>
      } @placeholder (minimum 1s) {
        <div class="video-list">
          <div class="history-group">
            <ngx-skeleton-loader
              [theme]="{
                width: ' 110px',
                height: '20px',
                filter: 'brightness(0.5)',
              }"
              appearance="line"
            >
            </ngx-skeleton-loader>
            <div class="video-items">
              @for (_ of [].constructor(8); track $index) {
                <app-video-card-vertical-skeleton></app-video-card-vertical-skeleton>
              }
            </div>
          </div>
        </div>
      }
    </cdk-virtual-scroll-viewport>
  </div>
</div>
