#container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  #header-container {
    width: 100%;
    height: 35%;
    //background: linear-gradient(
    //  to bottom,
    //  var(--md-sys-color-surface-container-highest),
    //  rgba(255, 255, 255, 0)
    //);
    border-radius: 12px;
    position: relative;

    #playlist-thumbnail-background {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: 1;
      overflow: hidden;
      border-radius: 12px;
    }

    #playlist-thumbnail-background img {
      width: 100%;
      height: 90%;
      object-fit: fill;
      filter: blur(30px) brightness(0.9); /* Làm mờ + tối */
      transform: scale(1.2); /* Phóng to để tránh viền mờ */
    }

    /* Lớp phủ tối + gradient như YouTube */
    #playlist-thumbnail-background::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: radial-gradient(
        circle at top,
        rgba(0, 0, 0, 0.3) 90%,
        rgba(0, 0, 0, 0.5) 100%
      );

      z-index: 2;
    }

    #playlist-info {
      width: 100%;
      height: 100%;
      padding: 20px;
      position: relative;
      z-index: 3;

      #playlist-thumbnail {
        display: flex;
        width: 100%;
        border-radius: 10px;
        overflow: hidden;

        #right-playlist-thumbnail {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 0 20px;

          #playlist-title {
            width: fit-content;
            margin: 0;
            font-size: 2rem;
            font-weight: 700;
            color: white;

            h2 {
            }
          }

          .info {
            display: flex;
            flex-direction: column;
            gap: 5px;

            .top {
              display: flex;
              gap: 10px;

              #user-name {
                display: flex;
                align-items: center;
              }
            }
          }

          p {
            margin: 0;
            color: white;
          }

          #user-name {
            font-size: 1rem;
            font-weight: 500;
            color: #f4f4f2;
          }

          #playlist-count {
            color: #f4f4f2;
            font-size: 0.8rem;
          }

          #user-avatar {
            display: flex;
            align-items: center;

            img {
              width: 30px;
              height: 30px;
              border-radius: 50%;
            }
          }
        }

        img {
          width: 26%;
          aspect-ratio: 16/9;
          object-fit: fill;
          border-radius: 12px;
        }

        #playlist-title {
          color: #f4f4f2;
        }

        #action {
          display: flex;
          gap: 20px;
        }
      }
    }
  }

  #content-container {
    width: 100%;
    height: 100%;
    padding: 0;

    .content {
      width: 100%;
      height: 100%;
      display: flex;
      gap: 5px;
      padding-top: 20px;
      //justify-content: center;
      flex-wrap: wrap;
      //padding-left: 10px;
    }

    #main-content {
      width: 100%;
      height: 100%;
      overflow-y: auto;
      scroll-behavior: smooth;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}

.history-group {
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.video-list {
  width: 100%;
}

.video-items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.watch-date {
  font-size: 18px;
  font-weight: bold;
  color: var(--md-sys-color-on-surface-variant);
  margin: 10px 0 10px 5px;
}

.user-login-require {
  width: 100%;
  height: 100%;
  color: var(--md-sys-color-on-surface-variant);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .icon {
    font-size: 200px;
    width: auto;
    height: auto;
  }
}
