<div id="container">
  <div id="cover">
    <div class="cover-background">
      <div class="background-img">
        <input
          #coverInput
          (change)="onCoverSelected($event)"
          accept="image/*"
          style="display: none"
          type="file"
        />
        @if (coverImage) {
          <img
            [src]="coverImage"
            alt="Selected Image"
            class="background-img-preview"
          />
        }
      </div>
      <div (click)="triggerCoverInput()" class="background-linear">
        <div class="background-text">
          <span class="title"> History </span>
          <div class="actions">
            <button (click)="playAll($event)" mat-flat-button>
              <mat-icon
                class="material-symbols-rounded"
                fontIcon="play_arrow"
              ></mat-icon>
              Play all
            </button>
            <button (click)="shuffle($event)" mat-stroked-button>
              <mat-icon
                class="material-symbols-rounded"
                fontIcon="shuffle"
              ></mat-icon>
              Shuffle
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="content-container">
    <cdk-virtual-scroll-viewport id="main-content" itemSize="50">
      <div id="content">
        <div class="video-list">
          @for (video of videos$ | async; track $index) {
            <div class="history-group">
              <h3 class="watch-date">
                {{ video.watched_at }}
              </h3>

              <div class="video-items">
                @for (videoDetail of video.videos; track $index) {
                  <app-video-card-horizontal
                    [video]="videoDetail.video_details"
                  ></app-video-card-horizontal>
                }
              </div>
            </div>
          }
        </div>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>
</div>
