<div id="container">
  <cdk-virtual-scroll-viewport class="scroll" itemSize="50">
    <div id="user-data">
      <div class="user-background">
        <div class="background-img">
          <input
            #coverInput
            (change)="onCoverSelected($event)"
            accept="image/*"
            style="display: none"
            type="file"
          />
          @if (coverImage) {
            <img
              [src]="coverImage"
              alt="Selected Image"
              class="background-img-preview"
            />
          }
        </div>

        <div (click)="triggerCoverInput()" class="background-linear">
          @if (self) {
            <button mat-fab aria-label="Example icon button with a delete icon" class="avatar-button"
                    (click)="openEditProfileDialog(); $event.stopPropagation()">
              <mat-icon class="material-symbols-rounded">edit</mat-icon>
            </button>
          }
        </div>
      </div>

      <div class="user-data-controller">
        <div class="info">
          <div class="avatar">
            <img
              alt="Selected Image"
              class="avatar-img"
              src="{{ (user$ | async)?.avatar_url }}"
            />
          </div>
          <div class="user-data">
            <span class="username">{{(user$ | async)?.username}}</span>
            <span class="views">123,354 Views</span>
            <span class="describe">
              Art Direction UX/UI DESIGNER Founder of AdzeDesign
            </span>
          </div>
        </div>

        <div class="user-controller">
          @if (self) {
            <button mat-flat-button (click)="openCreateVideoDialog()">
              <mat-icon class="material-symbols-rounded">outbox</mat-icon>
              UPLOAD NEW VIDEO
            </button>
          } @else {
            <button mat-flat-button>Subscribe</button>
          }
        </div>
      </div>
    </div>
    <mat-tab-group style="background-color: var(--md-sys-color-surface)"
      [(selectedIndex)]="activeTab"
      (selectedTabChange)="onTabChange($event)"
      class="sticky-tab-group"
      mat-align-tabs="start"
      mat-stretch-tabs="false"
    >
      <mat-tab label="Home"></mat-tab>
      <mat-tab label="Videos"></mat-tab>
      <mat-tab label="Playlist"></mat-tab>
    </mat-tab-group>
    <router-outlet></router-outlet>
  </cdk-virtual-scroll-viewport>
</div>
